body {
    color: black;
    background-color: #fefeff;
}

.container {
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    grid-gap: 2em 2em;
}

.block {
    grid-column: 2;
    padding: 2em;
    background-color: #efefff;
    border-radius: 2em;
    border: 1px solid dodgerblue;
}

.item {
    grid-column: auto;
    padding: 2em;
    background-color: #efefff;
    border-radius: 2em;
    border: 1px solid dodgerblue;
}

.item > h1 {
    text-transform: uppercase;
}

.entry {
    display: grid;
    grid-template-columns: 40% auto;
}

.entry > h2 {
    margin-bottom: 0;
    grid-column: 1/3;
}

.board-image {
    width: 400px;
    grid-column: 1/3;
}

.entry .blue {
    grid-column: 1/3;
}

.entry .red {
    grid-column: 1/3;
}

.voice {
    color: #777777;
}

.title {
    grid-column: 1 / 4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min(65ch, 100%) 1fr;
    border-bottom: 2px solid #1e90ff;
    /*background-color: #75bafd;*/
}

.header {
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-template-columns: auto auto auto auto;
}

.header > h1 {
    height: 3.1em;
    font-size: 2em;
    color: #75bafd;
    padding: 0 0.1em;
    text-align: center;
    margin: 0.35em 0;
    vertical-align: middle;
}

.logo {
    height: 6em;
    padding: 0.1em;
}

.lobby {
    display: grid;
    grid-template-columns: 37% auto;
    grid-template-rows: auto;
}

.lobby > * {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 1.5em;
}

#guide, input[type=submit] {
    grid-column-start: 2;
    background-color: rgb(239, 239, 239);
    text-align: center;
    color: black;
    text-decoration: none;
    border: 1px solid gray;
}

#guide:hover, input[type=submit]:hover {
    background-color: rgb(222, 222, 222);
}

label {

}

select, input, #guide {
    border-radius: 0.5em;
    border: 1px solid gray;
}

input[type=submit] {
    grid-column-start: 2;
}

input[type=checkbox] {
    width: 2em;
    height: 2em;
}

input[type=file] {
    padding: 0.5em 0;
}

.red {
    color: red;
}

.blue {
    color: dodgerblue;
}

input#replay {
    display: none;
}

label[for=replay] {
    display: none;
}
