@import "fonts/fonts.css";

html, body {
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #333333;
    font-size: 12pt;
}

a, a:visited, a:active {
    color: #999999;
    padding: 0.7em 0;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}
