{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='css/lobby.css') | autoversion }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div id="root"></div>

    <!--div class="title">
        <div class="header">
            <a id="idsia" href="http://www.idsia.ch/">
                <img class="logo" src="{{ url_for('static', filename='img/idsia.png') }}" alt="idsia"/>
            </a>
            <a id="deftech" href="https://deftech.ch/wargaming/">
                <img class="logo" src="{{ url_for('static', filename='img/deftech.png') }}" alt="deftech"/>
            </a>
            <a id="armasuisse" href="https://www.ar.admin.ch/en/armasuisse-wissenschaft-und-technologie-w-t/home.html">
                <img class="logo" src="{{ url_for('static', filename='img/armasuisse.png') }}" alt="armasuisse"/>
            </a>
            <h1>New Techno War</h1>
        </div>
    </div>
    <div class="block">
        <form action="/" method="post">
            <div class="lobby">
                <label class="red" for="redPlayer">Red team</label>
                <select id="redPlayer" name="redPlayer">
                    <option selected>Please select</option>
                    {% for player in players %}
                        <option>{{ player }}</option>
                    {% endfor %}
                </select>

                <label class="blue" for="bluePlayer">Blue team</label>
                <select id="bluePlayer" name="bluePlayer">
                    <option selected>Please select</option>
                    {% for player in players %}
                        <option>{{ player }}</option>
                    {% endfor %}
                </select>

                <label for="scenario">Scenario</label>
                <select id="scenario" name="scenario">
                    <option selected>Please select</option>
                    {% for scenario in scenarios %}
                        <option>{{ scenario }}</option>
                    {% endfor %}
                </select>

                <label for="randomSeed">Random seed</label>
                <input id="randomSeed" name="seed" type="number" value="0"/>

                <label for="autoPlay">Autoplay</label>
                <input id="autoPlay" name="autoplay" type="checkbox" checked>

                <label for="replay">Replay</label>
                <input id="replay" name="replay" type="file"/>

                <input type="submit" value="Play"/>

                <a id="guide" href="{{ url_for('static', filename='ntw-gui.pdf') }}" target="_blank">Help</a>
            </div>
        </form>
    </div-->
{% endblock %}

{% block additionalscripts %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    {#    <script src="{{ url_for('static', filename='js/lobby.js')|autoversion }}"></script>#}
{% endblock %}
