body {
    font: 12pt "Century Gothic", Futura, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

a,
a:visited,
a:active {
    color: #999999;
    padding: 0.7em 0;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
}

#gameId {
    display: none;
}


/* layout */

#game {
    display: grid;
    grid-template-columns: [redCol]20em [board]auto [blueCol]20em;
    grid-template-rows: [cockpitRow] 6vh [gameRow] auto;
    height: 100vh;
}

.red {
    background-color: red;
}

.blue {
    background-color: dodgerblue;
}

.viewport {
    text-align: start;
}

span.red {
    color: red;
    font-weight: bolder;
}

span.blue {
    color: dodgerblue;
    font-weight: bolder;
}