h1.player-title {
    text-align: center;
    margin: 0.1em;
}

h1.player-info {
    text-align: center;
    margin: 0.1em;
    font-size: 1em;
}

h1.player-choose {
    text-align: center;
    margin: 0.1em;
    font-size: 1em;
}

h1.player-choose:hover {
    background-color: darkorange;
    cursor: pointer;
}

h1.player-pass {
    text-align: center;
    margin: 0.1em 0.2em;
    padding: 0.2em;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
}

h1.player-pass:hover {
    background-color: darkorange;
    cursor: pointer;
}

#redPlayer {
    border: 1px solid red;
}

#bluePlayer {
    border: 1px solid dodgerblue;
}

.units {
    display: flex;
    flex-direction: column;
    color: #cccccc;
    overflow-y: scroll;
}

.units::-webkit-scrollbar {
    display: none;
}

.units {
    z-index: 1;
}

.units.red {
    background-color: #992222;
}

.units.blue {
    background-color: #222299;
}


/* Figures structure */

.unit {
    margin: 0.1em 0.2em;
    padding: 0.2em;
    display: grid;
    grid-template-columns: [img1]2em [img2]2em [stat1]2em [stat2]2em [stat3]2em [weapons]8.2em;
    grid-template-rows: [header]6pt [top]2em [mid]2em [bottom]2em;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-items: stretch;
    align-items: stretch;
}

.unit.red {
    border: 1px solid #ff6666;
    ;
}

.unit.blue {
    border: 1px solid #6666ff;
}

.orange,
.unit.orange,
.unit.orange>circle {
    background-color: orangered;
    fill: orangered !important;
}

.darkred,
.unit.darkred,
.unit.darkred>circle {
    background-color: darkred;
    fill: darkred !important;
}

.lightred,
.unit.lightred,
.unit.lightred>circle {
    background-color: indianred;
    fill: indianred !important;
}

.unit>div:not(.uKind):not(.uTitle):not(.uWeapons),
.uWeapons>div {
    background-color: #444444;
    text-align: center;
}

.uKind {
    grid-column-start: img1;
    grid-column-end: span 2;
    grid-row-start: top;
    grid-row-end: span 2;
    background-size: 4em 4em;
}

.uKind.red {
    background-color: red;
}

.uKind.blue {
    background-color: dodgerblue;
}

.uKind.infantry {
    background-image: url('../images/infantry.png');
}

.uKind.vehicle {
    background-image: url('../images/vehicle.png');
}

.uTitle {
    color: black;
    font-size: 6pt;
    font-weight: 900;
    text-align: center;
}

.uTitle.HP {
    grid-column-start: stat1;
}

.uTitle.Move {
    grid-column-start: stat2;
}

.uTitle.Load {
    grid-column-start: stat3;
}

.uTitle.Weapons {
    grid-column-start: weapons;
}

.uHP {
    grid-column-start: stat1;
}

.uLoad {
    grid-column-start: stat2;
}

.uMove {
    grid-column-start: stat3;
}

.uName {
    grid-column-start: stat1;
    grid-column-end: span 3;
}

.uStat {
    grid-column-start: stat1;
    grid-column-end: span 3;
}


/* weapons area */

.uWeapons {
    display: grid;
    grid-template-columns: 4em 4em;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.2em;
    column-gap: 0.2em;
    grid-column-start: weapons;
    grid-row-start: top;
    grid-row-end: span 3;
}

.weapon {
    display: flex;
}

.weapon>div {
    width: 2em;
}

.empty {
    color: red;
}

.weapon.ammo {
    margin-right: 0.2em;
}

.weapon.used.attack {
    background-color: yellow;
    color: black;
}

.weapon.used.respond {
    background-color: darkorange;
    color: black;
}

.weapon.disabled {
    background-color: red !important;
    color: white;
}

.weapon>.image {
    background-image: url('../images/weapons.png');
    background-size: auto 85%;
    background-color: #666666;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 2em;
}

.weapon:hover,
.weapon:hover>.image,
.weapon.highlight {
    background-color: cyan;
    color: black;
    cursor: pointer;
}

.weapon>.image.wCA {
    background-position: 1%;
}

.weapon>.image.wAR {
    background-position: 18%;
}

.weapon>.image.wMG {
    background-position: 35%;
}

.weapon>.image.wAT {
    background-position: 48%;
}

.weapon>.image.wMT {
    background-position: 62%;
}

.weapon>.image.wGR {
    background-position: 76%;
}

.weapon>.image.wSG {
    background-position: 94%;
}


/* Figure status */

.activated {
    background-color: rgba(0, 0, 0, 0.0);
}

.notActivated {
    background-color: rgba(255, 255, 255, 0.2);
}

.uOpt {
    color: black;
    font-weight: bold;
    padding: 5px;
    grid-row-start: bottom;
    text-align: center;
    background-color: transparent !important;
}

.opt1 {
    grid-column-start: img1;
}

.opt2 {
    grid-column-start: img2;
}

.moving {
    background-color: cyan !important;
}

.attacking {
    background-color: purple !important;
}

.responded {
    background-color: orange !important;
}

.passed {
    background-color: green !important;
}

.transported {
    background-color: white !important;
}

div.killed {
    background-color: #222222;
    color: black;
}

div.killed::before {
    content: 'X';
    font-family: sans-serif;
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    padding: 0 0.075em;
}