svg {
    height: 95vh;
    margin: 10px;
}

#title {
    padding: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #555555;
}

#title > h1 {
    margin: 0;
    flex-grow: 2;
}

#title > a {
    font-size: 1em;
    border: 1px solid #444444;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

#console {
    display: none; /* TODO: implement console or info on map */
    /*display: flex;*/
    position: sticky;
    background-color: black;
    top: 0;
    z-index: 10;
    flex-direction: column;
    max-height: 10vh;
    color: #cccccc;
    overflow-y: scroll;
    padding-bottom: 10vh;
}

#console::-webkit-scrollbar {
    display: none;

}

.record {
    display: flex;
}

span.red {
    color: red;
    font-weight: bolder;
}

span.blue {
    color: dodgerblue;
    font-weight: bolder;
}

#gameId {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#units {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: #cccccc;
    background-color: #555555;
    overflow-y: scroll;
    height: 100vh;
}

#units::-webkit-scrollbar {
    display: none;
}

#gameBoard {
    flex: 2;
    height: 100vh;
    overflow: auto;
}

#red {
    background-color: #992222;
    z-index: 1;
}


#blue {
    background-color: #222299;
    z-index: 1;
}

div.red.unit {
    border: 1px solid #992222;
}

div.blue.unit {
    border: 1px solid #222299;
}

.units {
    display: flex;
    flex-wrap: wrap;
}

/* Figures structure */
.unit {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px;
}

.uData {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
}

.uData > div, .uFixed > div, .weapon > div {
    background-color: #444444;
    padding: 5px;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.uKind {
    background-size: 117px 97px;
    width: 110px;
    height: 85px;
}

.uKind.red {
    background-color: red;
}

.uKind.blue {
    background-color: dodgerblue;
}

.uKind.infantry {
    background-image: url('/static/img/infantry.png');
}

.uKind.vehicle {
    background-image: url('/static/img/vehicle.png');
}

.wName {
    width: 150px;
}

.uPos {
    display: none;
}

.uFixed {
    display: flex;
    justify-content: space-between;
}

.uFixed > div {
    margin-top: 10px;
}

.uFixed > ::after, .wName, .wAmmo::before, .wAtk::before, .wRange::before, .wSpecs::before {
    color: black;
    font-size: 6pt;
    font-weight: 900;
    position: absolute;
    top: -13px;
    left: 0;
}

.uFixed > ::after {
    width: 28px;
}

.uLoad, .uMove, .uHP {
    width: 20px;
}

.uLoad::after {
    content: 'LOAD';
}

.uMove::after {
    content: 'MOVE';
}

.uHP::after {
    content: 'HP';
}

/* weapons area */

.uWeapons {
    font-size: 10pt;
}

.uWeapon {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.weapon {
    display: flex;
    margin: 0 5px 0 5px;
}

.first.weapon {
    margin: 15px 5px 0;
}

.wName {
    display: none;
    background: none !important;
    position: absolute !important;
    top: -13px;
}

.weapon.empty {
    color: black;
}

.weapon.used::before {
    background-color: yellow;
}

.weapon::before {
    content: '';
    background-image: url('/static/img/weapons.png');
    background-size: auto 85%;
    background-color: #666666;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    width: 28px;
    height: 28px;
}

.weapon > div {
    width: 28px;
    height: 26px;
    margin-top: 0;
    margin-left: 1px;
    white-space: nowrap;
    padding: 1px;
}

.wAtk {
    width: 35px !important;
}

.wRange {
    width: 30px !important;
}

.first > .wAmmo::before {
    content: 'AMMO';
    font-size: 6pt;
}

.first > .wAtk::before {
    content: 'ATK';
    font-size: 6pt;
    width: 35px;
}

.first > .wRange::before {
    content: 'RANGE';
    font-size: 6pt;
}

.first > .wSpecs::before {
    content: 'SPEC';
    font-size: 6pt;
}

.wCA::before {
    background-position: 2%;
}

.wAR::before {
    background-position: 19%;
}

.wMG::before {
    background-position: 35%;
}

.wAT::before {
    background-position: 49%;
}

.wMT::before {
    background-position: 62%;
}

.wGR::before {
    background-position: 76%;
}

.wSM::before {
    background-position: 93%;
}

/* Figure status */
.activated {
    background-color: rgba(0, 0, 0, 0.0);
}

div.unit {
    position: relative;
}

.notActivated {
    background-color: rgba(255, 255, 255, 0.2);
}

.moving::before {
    content: 'M';
    background-color: cyan;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.attacking::before {
    content: 'A';
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.responded::before {
    content: 'R';
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.passed::before {
    content: 'P';
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    color: black;
    font-weight: bold;
    padding: 5px;
}

.passed::before {

}

div.killed {
    background-color: black;
}

div.killed::before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin: 5px;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 80px;
    width: 110px;
    text-align: center;
}

/* SVGs */

.coord {
    fill: black;
    text-anchor: middle;
    font-size: 3pt;
}

.hex {
    stroke: #555555;
    stroke-width: 0.5pt;
}

/* Game colors */

.terrOpen {
    fill: #92C060;
}

.terrTree {
    fill: #457313;
}

.terrForest {
    fill: #00410B;
}

.terrRoad {
    fill: #E3854D;
}

.terrUrban {
    fill: #676767;
}

.terrBuilding {
    fill: #454545;
}

.terrWooden {
    fill: #A76B11;
}

.terrConcrete {
    fill: #999999;
}

.content {
    text-anchor: middle;
    font-size: 4pt;
}


/* figures */

g.unit.red > circle {
    fill: red;
}

g.unit.blue > circle {
    fill: dodgerblue;
}

g.killed.red > circle {
    fill: #555555;
    stroke: darkred;
    stroke-width: 0.5;
}

g.killed.blue > circle {
    fill: #555555;
    stroke: dodgerblue;
    stroke-width: 0.5;
}

g.hit.red > circle {
    /* this inversion is done on purpose! */
    stroke: dodgerblue;
    stroke-width: 1;
}

g.hit.blue > circle {
    /* this inversion is done on purpose! */
    stroke: darkred;
    stroke-width: 1;
}

.highlight {
    border: 1px solid yellow !important;
}

g.unit.highlight > circle {
    fill: yellow !important;
}

/* Actions */
.move > line {
    stroke: white;
    stroke-width: 1;
}

.shoot.lof.red > line {
    stroke: red;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.shoot.lof.blue > line {
    stroke: dodgerblue;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.shoot.los.red > line {
    stroke: darkred;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

.shoot.los.blue > line {
    stroke: darkblue;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

g.shoot g {
    display: none; /* TODO: implement console or info on map */
}

g.shoot g > rect {
    opacity: 0.8;
    width: 40px;
    height: 60px;
}

g.shoot.blue g > rect {
    fill: dodgerblue;
}

g.shoot.red g > rect {
    fill: red;
}

g.shoot g > text {
    fill: white;
    font-size: 4pt;
}
