span.red {
    color: red;
    font-weight: bolder;
}

span.blue {
    color: dodgerblue;
    font-weight: bolder;
}

#gameId {
    display: none;
}

/* layout */
.container {
    display: flex;
    flex-direction: column;
}

#cockpit {
    display: flex;
    color: #aaaaaa;
    background-color: #555555;
}

#title {
    padding: 0.2em;
    display: flex;
}

#title > h1 {
    margin-left: 0.5em;
    font-size: 1.25em;
}

#title > a {
    font-size: 1em;
    border: 1px solid #444444;
    margin-left: 0.5em;
    text-decoration: none;
    cursor: pointer;
}

#console {
    background-color: black;
    color: #aaaaaa;
    padding: 0.2em;
    z-index: 10;
    flex-grow: 1;
    resize: none;

}

#gameLayout {
    display: flex;
    height: 94vh;
}

h1.player-title {
    text-align: center;
    margin: 0.1em;
}

h1.player-info {
    text-align: center;
    margin: 0.1em;
    font-size: 1em;
}

h1.player-choose {
    text-align: center;
    margin: 0.1em;
    font-size: 1em;
}

h1.player-choose:hover {
    background-color: darkorange;
    cursor: pointer;
}

h1.player-pass {
    text-align: center;
    margin: 0.1em 0.2em;
    padding: 0.2em;
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.2);
}

h1.player-pass:hover {
    background-color: darkorange;
    cursor: pointer;
}

#redPlayer {
    border: 1px solid red;
}

#bluePlayer {
    border: 1px solid dodgerblue;
}

.units {
    display: flex;
    flex-direction: column;
    color: #cccccc;
    overflow-y: scroll;
    width: 17vw;
}

.units::-webkit-scrollbar {
    display: none;
}

.units {
    z-index: 1;
}

.units.red {
    background-color: #992222;
}

.units.blue {
    background-color: #222299;
}

#gameBoard {
    flex: 1;
    width: 66vw;
}

svg {
    height: 100%;
    width: inherit;
    display: block;
    margin: 0 auto;
}

/* Figures structure */
.unit {
    margin: 0.1em 0.2em;
    padding: 0.2em;
    display: grid;
    grid-template-columns: [img1]2em [img2]2em [stat1]2em [stat2]2em [stat3]2em [weapons]8.2em;
    grid-template-rows: [header]6pt [top]2em [mid]2em [bottom]2em;
    column-gap: 0.2em;
    row-gap: 0.2em;
    justify-items: stretch;
    align-items: stretch;
}

.unit.red {
    border: 1px solid #ff6666;;
}

.unit.blue {
    border: 1px solid #6666ff;
}

.orange, .unit.orange, .unit.orange > circle {
    background-color: orangered;
    fill: orangered !important;
}

.darkred, .unit.darkred, .unit.darkred > circle {
    background-color: darkred;
    fill: darkred !important;
}

.lightred, .unit.lightred, .unit.lightred > circle {
    background-color: indianred;
    fill: indianred !important;
}

.unit > div:not(.uKind):not(.uTitle):not(.uWeapons), .uWeapons > div {
    background-color: #444444;
    text-align: center;
    padding: 0.4em;
}

.uKind {
    grid-column-start: img1;
    grid-column-end: span 2;
    grid-row-start: top;
    grid-row-end: span 2;
    background-size: 4em 4em;
}

.uKind.red {
    background-color: red;
}

.uKind.blue {
    background-color: dodgerblue;
}

.uKind.infantry {
    background-image: url('/static/img/infantry.png');
}

.uKind.vehicle {
    background-image: url('/static/img/vehicle.png');
}

.uTitle {
    color: black;
    font-size: 6pt;
    font-weight: 900;
    text-align: center;
}

.uTitleHP {
    grid-column-start: stat1;
}

.uTitleMove {
    grid-column-start: stat2;
}

.uTitleLoad {
    grid-column-start: stat3;
}

.uTitleWeapons {
    grid-column-start: weapons;
}

.uHP {
    grid-column-start: stat1;
}

.uLoad {
    grid-column-start: stat2;
}

.uMove {
    grid-column-start: stat3;
}

.uName {
    grid-column-start: stat1;
    grid-column-end: span 3;
}

.uStat {
    grid-column-start: stat1;
    grid-column-end: span 3;
}

/* weapons area */

.uWeapons {
    display: grid;
    grid-template-columns: 2em 2.2em 2em 2.2em;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 0.2em;
    justify-items: stretch;
    align-items: stretch;

    grid-column-start: weapons;
    grid-row-start: top;
    grid-row-end: span 3;
}

.empty {
    color: red;
}

.weapon.ammo {
    margin-right: 0.2em;
}

.weapon.used.attack {
    background-color: yellow;
    color: black;
}

.weapon.used.respond {
    background-color: darkorange;
    color: black;
}

.weapon.disabled {
    background-color: red !important;
    color: white;
}

.weapon.image {
    background-image: url('/static/img/weapons.png');
    background-size: auto 85%;
    background-color: #666666;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
}

.weapon.image:hover, .weapon.highlight {
    background-color: cyan;
    cursor: pointer;
}

.weapon.image.wCA {
    background-position: 2%;
}

.weapon.image.wAR {
    background-position: 18%;
}

.weapon.image.wMG {
    background-position: 35%;
}

.weapon.image.wAT {
    background-position: 48%;
}

.weapon.image.wMT {
    background-position: 62%;
}

.weapon.image.wGR {
    background-position: 76%;
}

.weapon.image.wSM {
    background-position: 94%;
}

/* Figure status */
.activated {
    background-color: rgba(0, 0, 0, 0.0);
}

.notActivated {
    background-color: rgba(255, 255, 255, 0.2);
}

.uOpt {
    color: black;
    font-weight: bold;
    padding: 5px;
    grid-row-start: bottom;
    text-align: center;
    background-color: transparent !important;
}

.opt1 {
    grid-column-start: img1;
}

.opt2 {
    grid-column-start: img2;
}

.moving {
    background-color: cyan !important;
}

.attacking {
    background-color: purple !important;
}

.responded {
    background-color: orange !important;
}

.passed {
    background-color: green !important;
}

.transported {
    background-color: white !important;
}

div.killed {
    background-color: #222222;
    color: black;
}

div.killed::before {
    content: 'X';
    z-index: 10;
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    padding: 0 0.075em;
}

/* SVGs */

.coord {
    fill: black;
    text-anchor: middle;
    font-size: 3pt;
}

.hex {
    stroke: #555555;
    stroke-width: 0.5pt;
}

/* Game colors */

.terrOpen {
    fill: #92C060;
}

.terrTree {
    fill: #457313;
}

.terrForest {
    fill: #00410B;
}

.terrRoad {
    fill: #E3854D;
}

.terrUrban {
    fill: #676767;
}

.terrBuilding {
    fill: #454545;
}

.terrWooden {
    fill: #A76B11;
}

.terrConcrete {
    fill: #999999;
}

.content {
    text-anchor: middle;
    font-size: 4pt;
}


/* figures */

g.loaded {
    display: none;
}

g.loaded.highlight {
    display: block;
}

g.unit.red > circle {
    fill: red;
}

g.unit.blue > circle {
    fill: dodgerblue;
}

g.killed.red > circle {
    fill: #555555;
    stroke: darkred;
    stroke-width: 0.5;
}

g.killed.blue > circle {
    fill: #555555;
    stroke: dodgerblue;
    stroke-width: 0.5;
}

g.hit.red > circle {
    /* this inversion is done on purpose! */
    stroke: dodgerblue;
    stroke-width: 1;
}

g.hit.blue > circle {
    /* this inversion is done on purpose! */
    stroke: darkred;
    stroke-width: 1;
}

.pz-red {
    fill: rgba(255, 0, 0, 0.5);
}

.pz-blue {
    fill: rgba(30, 144, 255, 0.5);
}

.highlight {
    border: 1px solid yellow !important;
}

g.unit.highlight > circle {
    fill: yellow !important;
}

/* Actions */
.move > line {
    stroke: white;
    stroke-width: 1;
}

.shoot.lof.red > line {
    stroke: red;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.shoot.lof.blue > line {
    stroke: dodgerblue;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

.shoot.los.red > line {
    stroke: darkred;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

.shoot.los.blue > line {
    stroke: darkblue;
    stroke-opacity: 0.5;
    stroke-width: 1;
}

g.shoot g {
    display: none; /* TODO: implement console or info on map */
}

g.shoot g > rect {
    opacity: 0.8;
    width: 40px;
    height: 60px;
}

g.shoot.blue g > rect {
    fill: dodgerblue;
}

g.shoot.red g > rect {
    fill: red;
}

g.shoot g > text {
    fill: white;
    font-size: 4pt;
}

.hide {
    display: none;
}
