body {
    color: #cccccc;
}

.lobby {
    margin: 2em;
    padding: 2em;
    width: 36em;
    border: 1px solid black;
    background-color: #555555;
    color: #cccccc;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
}

.lobby > * {
    padding: 0.5em;
    margin: 0.5em 0;
    font-size: 16pt;
}

.lobby > h1 {
    grid-column-end: span 2;
    font-size: 2em;
}

label {
    font-weight: bolder;
}

select {
}

input[type=submit] {
    grid-column-start: 2;
}

input[type=checkbox] {
    width: 2em;
    height: 2em;
}

input[type=file] {
    padding: 0.5em 0;
}

.red {
    color: red;
}

.blue {
    color: dodgerblue;
}
