{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='css/lobby.css') | autoversion }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div class="title">
        <div class="header">
            <a id="idsia" href="http://www.idsia.ch/">
                <img class="logo" src="{{ url_for('static', filename='img/idsia.png') }}" alt="idsia"/>
            </a>
            <a id="deftech" href="https://deftech.ch/wargaming/">
                <img class="logo" src="{{ url_for('static', filename='img/deftech.png') }}" alt="deftech"/>
            </a>
            <a id="armasuisse" href="https://www.ar.admin.ch/en/armasuisse-wissenschaft-und-technologie-w-t/home.html">
                <img class="logo" src="{{ url_for('static', filename='img/armasuisse.png') }}" alt="armasuisse"/>
            </a>
            <h1>Configurations available</h1>
        </div>
    </div>
    {% for i in data %}
        <div class="item">
            <h1>{{ i }}</h1>
            {% for e in data[i] %}
                {# all entries #}
                <div class="entry">
                    <h2>{{ e }}</h2>
                    {% for k in data[i][e] %}
                        {% if k == 'terrain' %}
                            {# load image for boards #}
                            <img class="board-image" src="{{ url_for('main.configMap', name=e) }}"
                                 alt="Map for {{ e }}"/>
                        {% elif k == 'map' %}
                            {# map for scenario #}
                            <img class="board-image" src="{{ url_for('main.configScenario', name=e) }}"
                                 alt="Scenario map for {{ e }}"/>
                        {% else %}
                            {% if k == 'red' or k == 'blue' %}
                                {# figures in scenario for each player in scenario #}
                                <div class="{{ k }} entry">{{ k }}</div>

                                {% for k1 in data[i][e][k] %}
                                    {% set d = data[i][e][k][k1] %}

                                    <div class="{{ k }} entry">{{ k1 }}</div>

                                    {% if k1 == 'figures' %}
                                        {# figures description #}
                                        {% for f in d %}
                                            <div>{{ f }}</div>
                                            <div class="entry">
                                                {% for k2 in d[f] %}
                                                    <div class="voice">{{ k2 }}</div>
                                                    {% if k2 == 'loaded' %}
                                                        <div class="entry">
                                                            {% for f2 in d[f][k2] %}
                                                                {% for k3 in f2 %}
                                                                    <div>{{ k3 }}</div>
                                                                    <div class="entry">
                                                                        {% for k4 in f2[k3] %}
                                                                            <div class="voice">{{ k4 }}</div>
                                                                            <div>{{ f2[k3][k4] }}</div>
                                                                        {% endfor %}
                                                                    </div>
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <div>{{ d[f][k2] }}</div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    {% elif k1 == 'placement' %}
                                        {# do nothing #}
                                    {% else %}
                                        {# other standard stuffs (objectives) #}
                                        {% if d is mapping %}
                                            {% for k2 in d %}
                                                <div>{{ k2 }}</div>
                                                <div>{{ d[k2] }}</div>
                                            {% endfor %}
                                        {% else %}
                                            <div>{{ d }}</div>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {# normal content #}
                                <div class="voice">{{ k }}</div>

                                {% set d = data[i][e][k] %}
                                {% if d is mapping %}
                                    {# we have a dictionary #}
                                    <div class="entry">
                                        {% for k1 in d %}
                                            <div>{{ k1 }}</div>
                                            <div>{{ d[k1] }}</div>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {# just the content for the 'k' key #}
                                    <div>{{ d }}</div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block additionalscripts %}
    <script src="{{ url_for('static', filename='js/lobby.js')|autoversion }}"></script>
{% endblock %}
