{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='css/game.css', version='20200603') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
    <div id="units">
        <div><h1>New Techno War - AI Demo</h1></div>
        <div id="red">
            <div id="redUnits" class="units"></div>
        </div>
        <div id="blue">
            <div id="blueUnits" class="units"></div>
        </div>
    </div>
    <div id="board">
        <svg viewBox="0 0 {{ shape[0] }} {{ shape[1] }}">
            <defs>
                <polygon id="hex" class="hex" points="5,-9 -5,-9 -10,0 -5,9 5,9 10,0"></polygon>
            </defs>
            <g class="pod-wrap">
                {% for hex in board %}
                    <g id="x{{ hex.x }}y{{ hex.y }}"
                            {# onclick="alert('{{ hex.position }}');" #}
                       transform="translate({{ hex.x }}, {{ hex.y }})">
                        <use href="#hex" class="{{ hex.css() }}"></use>
                        <text class="content" x="0" y="0">
                            {% if hex.objective %}
                                ⭐
                            {% endif %}
                            {% if hex.blockLos %}
                                🚧
                            {% endif %}
                            {% if hex.terrain.name == 'Building' %}
                                🏯
                            {% endif %}
                            {% if hex.terrain.name == 'Isolated tree cover' %}
                                🌳
                            {% endif %}
                            {% if hex.terrain.name == 'Forest' %}
                                🌲
                            {% endif %}
                        </text>

                        <text class="coord" x="0" y="6">{{ hex.position }}</text>
                    </g>
                {% endfor %}
            </g>
        </svg>
    </div>
{% endblock %}

{% block additionalscripts %}
    <script src="{{ url_for('static', filename='js/game.js', version='20191206') }}"></script>
{% endblock %}
