{% extends "layout.html" %}

{% block pagestyles %}
    <link href="{{ url_for('static', filename='css/game.css', version='20200603') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}
    <div>
        <svg viewBox="0 0 300 300">
            <g class="pod-wrap">
                {% for hex in board %}
                    <g id="pod"
                            {# onclick="alert('{{ hex.position }}');" #}
                       transform="translate({{ hex.x }}, {{ hex.y }})">
                        <polygon class="hex {{ hex.css() }}" points="5,-9 -5,-9 -10,0 -5,9 5,9 10,0"></polygon>
                        <text class="content" x="0" y="0">
                            {% if hex.objective %}
                                ⭐
                            {% endif %}
                            {% if hex.blockLos %}
                                🚧
                            {% endif %}
                            {% if hex.terrain.name == 'Building' %}
                                🏯
                            {% endif %}
                            {% if hex.terrain.name == 'Isolated tree cover' %}
                                🌳
                            {% endif %}
                            {% if hex.terrain.name == 'Forest' %}
                                🌲
                            {% endif %}
                        </text>

                        <text class="coord" x="0" y="6">{{ hex.position }}</text>
                    </g>
                {% endfor %}
            </g>
        </svg>
    </div>
{% endblock %}
