<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta.html' %}
    <link href="{{ url_for('static', filename='css/main.css', version='20200603') }}" rel="stylesheet" type="text/css">
    {% block pagestyles %}{% endblock %}
    <title>NewTechnoWar</title>
</head>
<body class="{{ template }}">

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</div>

<!-- Scripts -->
{% include 'scripts.html' %}

{% block additionalscripts %}{% endblock %}
</body>
</html>